* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

/* header */
header {
    background-color: #1F2937;
}

header .logo p {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    color: #E5E7EB;
    list-style-type: none;
}

/* hero */

.hero {
    background-color: #1F2937;
}

.hero .main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .secondary{
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
}