* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    background-color: #1F2937;
}

/* header */
header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    margin-bottom: 64px;
}

header .logo p {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    gap: 16px;
}


/* hero */

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 0 200px;
    justify-content: space-between;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 64px;

}

.hero .main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .secondary {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 500px;
}

.hero button {
    color: #E5E7EB;
    background-color: #3882F6;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    max-width: 100px;
}

.hero .left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* information */
.information {
    background-color: #F9FAF8;
    text-align: center;
    padding: 42px 200px 60px;
}

.information h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 42px;
}

.information img {
    width: auto;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 12px;
    object-fit: cover;
}


.information .container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.container .text {
    max-width: 250px;
}

/* quote */

/* footer */
.footer {
    background-color: #1F2937;
}